@font-face {
    font-family: 'Noto';
    src: url('https://astdocs-public.s3.ap-northeast-1.amazonaws.com/font/Noto.ttf');
}

.iconmessage {
    display: none !important;
}





body {
    font-family: 'Noto';
    background: rgb(225 225 225);

    .usersettingtitle {
        margin-left: 30px;
    }

    // #usersetting {
    //     background: white;
    //     padding: 10px 50px;
    //     border-radius: 30px;
    //     margin-left: 30px;
    //     width: fit-content;
    // }
}

.display_none {
    display: none !important;
}

.header001 {
    background: rgb(25 18 65) !important;
    z-index: 13;
    height: 4rem;
}

.menu001 {
    @media screen and (max-width: 600px) {
        width: 100%;
        overflow: hidden;
    }
}

.main01 {
    background: rgb(225 225 225);
    display: block;
    width: 100%;
}

.pagetitle {
    margin-block: 15px;
    border-bottom: solid 1px #adadad;
    padding: 12px;
    color: #454545;
    background: #f9f9f9;
    display: flex;
    // width: 1000px;
    margin-left: 2rem;

    @media (max-width: 800px) {
        display: none;
    }
}

.button1name01 {
    display: flex;
    align-items: center;
    color: #4c4c4c;
}

.long_str {
    font-size: 13px;
}

.flow_right_icon {
    width: 31px;
}

.title_icon {
    width: 31px;
    height: 31px;
    margin-inline: 10px;
    display: flex;
    margin-block: auto;
}

.menu001 {
    z-index: 13;
}

/* .MenueBar {
    width: 250px;
    height: 100vh;
    margin-right: 25px;
    position: fixed;
    z-index: 12;
} */

.maincontent01 {
    padding-left: 0;
    display: flex;
}

.flowbackground {
    background: rgb(225 225 225);
}

.meta_flow_container {
    background: rgb(194, 194, 194);
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 11;
}

.meta_flow_content {
    background: white;
    width: 1000px;
    height: 500px;
    border-radius: 50px;
    margin-top: 30px;
    margin-left: 30px;
}


.Mainelement {
    // padding: 10px 30px;
    background: rgb(225 225 225);

    @media screen and (max-width: 600px) {
        padding: 10px 0px;
    }
}



// 名刺一覧
.card_view_header {
    position: sticky;
    top: 48px;
    z-index: 100;
    padding: 1rem;
    border-bottom: solid 0.1rem gainsboro;
    background: #b3b3b3;
}

.search_container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
    gap: 1rem;
    .search_input{
        width: 30rem;
        height: 3rem;
        border: solid 0.1rem gainsboro;
        border-radius: 1.5rem;
        padding-left: 1rem;
        font-size: 1rem;
        color: #000000;
    }
    .search_button{
        width: 3rem;
        height: 3rem;
        border-radius: 1.5rem;
        background: #14b77b;
        color: #ffffff;
        border: none;
        cursor: pointer;
        &:hover{
            background: #0e7c54;
        }
        img{
            width: 1.5rem;
            height: 1.5rem;
        }
    }

}

.tab_container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    gap: 1rem;
}

.tab_item {
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
    background: #ffffff;
    color: #999999;
    width: 20rem;
    text-align: center;
}

.tab_item_active {
    background: #007bff;
    color: white;
}





.card_view_container {
    margin-left: 2rem;
    width: fit-content;
    margin-inline: auto;

    @media screen and (max-width: 1200px) {
        width: 90%;
        margin: 10px auto;
    }

    .card_view_card {
        background: white;
        border-radius: 10px;
        padding: 10px;
        margin: 10px;
        display: flex;
        width: 50rem;
        cursor: pointer;
        text-decoration: none;
        color: #454545;

        @media screen and (max-width: 1200px) {
            width: 90%;
            margin: 10px auto;
        }

        &:hover {
            background: #f9f9f9;
        }

        .card_view_card_name {
            font-size: 1.2rem;
            font-weight: 500;
        }

        .text_container {
            width: 70%;

            .company_info {
                display: flex;
                color: #868686;

                .card_view_card_company {
                    width: 20rem;

                    @media screen and (max-width: 600px) {
                        font-size: 0.8rem;
                        width: 11rem;
                    }

                    @media screen and (max-width: 400px) {
                        font-size: 0.7rem;
                        width: 50%;
                    }
                }

                .card_view_card_department {
                    width: 15rem;
                    height: 3rem;
                    overflow-y: auto;

                    @media screen and (max-width: 600px) {
                        font-size: 0.8rem;
                        width: 8rem;
                    }

                    @media screen and (max-width: 400px) {
                        font-size: 0.7rem;
                        width: 50%;
                    }
                }
            }
        }

        img {
            min-width: 5rem;
            height: 5rem;
            object-fit: contain;
            margin-left: auto;
            margin-right: 3rem;
            box-shadow: 2px 4px 3px 0 rgba(0, 0, 0, 0.1);

            @media screen and (max-width: 600px) {
                min-width: 3rem;
                height: 3rem;
                margin-right: 1rem;
            }
        }
    }
}

// 名刺詳細
.card_detail_container {
    display: flex;

    .gray_area {
        position: fixed;
        background: rgba(53, 53, 53, 0.37);
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: 100;
        display: none;

        &.gray_area_open {
            display: block;
        }

        .popup_content {
            background: #ebffff;
            width: 26rem;
            bottom: 2%;
            left: 50%;
            transform: translateX(-50%);
            position: absolute;
            border-radius: 1rem;
            overflow: hidden;
            display: flex;
            flex-direction: column;
            justify-content: center;

            a:not(:last-child) {
                border-bottom: solid 0.1rem #bfbfbf;
            }

            .card_edit_button {
                color: #03626d;
                display: flex;
                width: 100%;
                justify-content: center;
                align-items: center;
                height: 4rem;
                background: #ffffff;
                margin-inline: auto;

            }

            .card_delete_button {
                color: #e7483d;
                display: flex;
                width: 100%;
                justify-content: center;
                align-items: center;
                height: 4rem;
                background: #ffffff;
                margin-inline: auto;
            }
        }
    }

    .card_history_container {
        width: 26rem;
        background: #0B294C;
        height: 100%;
        height: calc(100vh - 112px);
        overflow: hidden;

        @media screen and (min-width: 801px) {
            .card_history_close_button {
                display: none;
            }
        }

        @media screen and (max-width: 800px) {
            position: absolute;
            left: -200%;
            transition: all 1s;
            z-index: 10;
            top: 0;


            &.card_history_container_open {
                display: block;
                width: 100%;
                left: 0;
            }

            .card_history_close_button {
                display: flex;
                position: absolute;
                top: 1rem;
                right: 1rem;
                background: #676767;
                color: white;
                padding: 0.3rem 1rem;
                cursor: pointer;
                border-radius: 0.3rem;
                font-size: 0.8rem;
                margin-right: 2rem;

                &:hover {
                    background: #474747;
                }
            }
        }

        .card_history_content {
            width: 100%;
            cursor: pointer;

            &:hover {
                background: #12437c;
            }

            &:first-child {
                margin-top: 4rem;
            }

            &:last-child {
                margin-bottom: 3rem;
            }

            input[type="radio"] {
                display: none;

                &:checked+.card_history_label {
                    background: #2a8bfa;
                }
            }

            .card_history_label {
                display: flex;
                padding: 1rem;

                .history_card {
                    min-width: 5rem;
                    width: 35%;
                    margin-inline: 1rem;
                    position: relative;

                    .new_card_check {
                        width: 2.5rem;
                        height: 2.5rem;
                        position: absolute;
                        top: -1rem;
                        left: -1rem;
                    }

                    img.lazyload {
                        max-height: 5rem;
                        max-width: 100%;
                        object-fit: contain;
                        box-shadow: 1px 2px 3px 1px rgb(0 0 0);

                    }
                }

                .history_card_text {
                    color: white;
                    flex: 1;

                    .card_detail_text_name {
                        font-weight: bold;
                    }
                }
            }
        }

        .card_history_add_button {
            display: flex;
            background: #2a8bfa;
            color: white;
            border-radius: 1rem;
            padding: 0.7rem 1.2rem;
            cursor: pointer;
            width: fit-content;
            margin-inline: auto;
            margin-top: 3rem;
            cursor: pointer;

            &:hover {
                background: #1865bd;
            }
        }



    }

    .card_info_container {
        flex: 1;
        margin-inline: 2rem;
        height: calc(100vh - 112px);

        .card_detail_content {
            display: grid;
            margin-left: 2rem;

            @media screen and (max-width: 800px) {
                .position_info {
                    margin-bottom: 3rem;
                }
            }

            @media screen and (min-width: 1200px) {
                grid-template-columns: 1fr 1fr;
                gap: 1rem;
            }

            @media screen and (max-width: 1200px) {
                grid-template-columns: 1fr;
                gap: 1rem;
                margin-inline: auto;

                overflow: auto;
                height: calc(100vh - 130px);

                &::-webkit-scrollbar {
                    display: none;
                }
            }

            div {
                @media screen and (min-width: 1301px) {

                    &:first-child {
                        grid-column: 1 / 2;
                        grid-row: 1 / 2;
                    }

                    &:nth-child(2) {

                        grid-column: 2 / 3;
                        grid-row: 1 / 2;
                    }

                    &:nth-child(3) {
                        grid-column: 1 / 2;
                        grid-row: 2 / 3;
                    }

                    &:nth-child(4) {
                        grid-column: 2 / 3;
                        grid-row: 2 / 3;
                    }
                }


            }

            .card_info_content {
                display: flex;
                padding-block: 3rem;
                margin: 0.4rem 1rem;
                justify-content: space-around;

                @media screen and (min-width: 1201px) {
                    .setting_container {
                        display: none;
                    }
                }

                @media screen and (max-width: 1201px) {
                    padding-block: 0 0.5rem;
                    flex-direction: column;
                    position: sticky;
                    top: 0;
                    margin: 0.4rem 0;
                    background: rgb(225, 225, 225);

                    .setting_container {
                        display: flex;
                        justify-content: end;
                        margin-bottom: 1rem;
                        gap: 1rem;

                        .card_history_button,
                        .card_setting_button {
                            padding: 0.5rem;
                            height: 1.5rem;
                            color: white;
                            border-radius: 0.5rem;
                            background: white;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            cursor: pointer;
                            font-size: 0.8rem;
                            border: solid 0.1rem #777777;
                            box-shadow: 1px 1px 5px 0 gray;

                            &:hover {
                                background: #b3b3b3;
                            }
                        }

                        @media screen and (min-width: 801px) {
                            .card_history_button {
                                display: none;
                            }
                        }
                    }
                }

                .card_detail_card {
                    @media screen and (max-width: 1200px) {
                        margin-inline: auto;
                    }

                    img {
                        max-height: 14rem;
                        max-width: 30rem;
                        background: white;
                        object-fit: contain;
                        box-shadow: 4px 7px 11px 1px rgb(0 0 0 / 59%);
                    }
                }

            }


            .personal_info,
            .company_info,
            .position_info {
                background: white;
                width: 100%;
                padding-block: 1rem;

                &_content {
                    color: #3d3b3b;
                    display: flex;
                    border-bottom: solid 1px #b6b6b6;
                    height: 3rem;
                    align-items: center;
                    margin-inline: 1rem;

                    &_title {
                        width: 6rem;
                        font-size: 0.8rem;
                    }

                    &_text {
                        width: 15rem;
                        font-size: 1rem;
                    }
                }
            }

        }

        .card_edit_delete_container {
            display: flex;
            justify-content: center;
            gap: 2rem;

            @media screen and (max-width: 1200px) {
                display: none;
            }

            .card_delete_button {
                background: #ad3e3e;
                color: white;
                border-radius: 1rem;
                padding: 0.7rem 1.2rem;
                cursor: pointer;
                width: fit-content;
                margin-top: 3rem;
                display: block;

                &:hover {
                    background: #803131;
                }
            }

            .card_edit_button {
                background: #0B294C;
                color: white;
                border-radius: 1rem;
                padding: 0.7rem 1.2rem;
                cursor: pointer;
                width: fit-content;
                margin-top: 3rem;
                display: block;

                &:hover {
                    background: #12437c;
                }





            }

        }


    }
}










// 名刺切り取り処理
.crop_controller_container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background: rgba(0, 0, 0, 0.801);

    // &.controller_open {
    //     display: block;
    // }

    .crop_controller_content {
        width: 400px;
        max-width: 90%;
        max-height: 50%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        box-shadow: 0 0 20px 6px rgb(255 255 255 / 58%);

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    .crop_complete_button {
        position: absolute;
        top: -2rem;
        left: 30%;
        transform: translate(-50%, -50%);
        background: #ffe041;
        border-radius: 1rem;
        width: 4rem;
        height: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        &:hover {
            background: #ffc041;
        }

        img {
            width: 1rem;
        }
    }

    .crop_cancel_button {
        position: absolute;
        top: -2rem;
        left: 70%;
        transform: translate(-50%, -50%);
        background: #868686;
        border-radius: 1rem;
        width: 4rem;
        height: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        &:hover {
            background: #666666;
        }

        img {
            width: 0.8rem;
        }
    }

    .crop_rotate_button {
        position: absolute;
        bottom: -4rem;
        left: 50%;
        transform: translate(-50%, -50%);
        background: #f3f3f3;
        border-radius: 1rem;
        width: 4rem;
        height: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        &:hover {
            background: #c7c7c7;
        }

        img {
            width: 1.2rem;
        }
    }
}

.loading_container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &.loading_container_open {
        display: flex;
    }

    img {
        width: 10rem;
    }

    .loading_text {
        color: white;
        font-size: 1.5rem;
        background: #08080894;
        padding: 1rem;
        margin-top: 1rem;
    }
}

.company_candidate_container_background {
    position: fixed;
    top: 6rem;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 99;
    display: none;

    &.company_candidate_container_background_open {
        display: block;
    }
}

.company_candidate_container {
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    width: 50rem;
    max-width: 90%;
    border-radius: 0.5rem;
    background: white;
    box-shadow: 0 0 5px 0px #a9a9a9;
    height: 30rem;
    overflow-y: scroll;
    display: none;
    z-index: 100;

    &_open {
        display: block;
    }

    input[type="radio"] {
        display: none;

        &:checked+label {
            background: #61b2ff;
            color: white;
        }
    }

    .company_candidate_content {
        font-size: 1rem;
        min-height: 3rem;
        display: flex;
        align-items: center;
        justify-content: start;
        cursor: pointer;

        padding-left: 0.2rem;

        &.company_candidate_new {
            margin-top: 0.5rem;
        }

        &:hover {
            background: #a0d0fd;
            color: white;
        }


        .compapany_card_img_container {
            min-width: 4rem;
            height: 2.5rem;
            background: #ffffff;
            border: solid 1px #adadad;
            margin-right: 0.5rem;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .company_candidate_item {
            width: 22rem;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }
}

.card_regist_container {
    width: 100rem;
    max-width: 97%;
    margin-left: 2rem;
    margin-inline: auto;
    position: sticky;

    @media screen and (max-width: 750px) {
        margin-inline: auto;
    }

    .card_switch_container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-inline: 5%;

        .card_status {
            width: 8rem;
            height: 3rem;
            border-radius: 1rem 1rem 0 0;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-left: 1rem;

            &[data-card_type="front"] {
                background: #af0c57;
                color: white;
            }

            &[data-card_type="back"] {
                background: #1e975a;
                color: white;
            }
        }

        .card_switch_button {
            width: 8rem;
            height: 3rem;
            border-radius: 1rem;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            background: #f9f9f9;
            color: #5c5c5c;
            margin-right: 1rem;
            bottom: 0.5rem;
            position: relative;

            &:hover {
                background: #c1c1c1;
            }


        }
    }

    .card_regist_form {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;

        @media screen and (min-width: 1201px) {

            margin-bottom: 10rem;
        }

        @media screen and (max-width: 750px) {
            grid-template-columns: 1fr;
        }



        .submit_button {
            background: #1d59ff;
            color: white;
            border-radius: 2rem;
            width: 7rem;
            height: 2.5rem;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;

            position: fixed;
            bottom: 5%;
            left: 50%;
            transform: translateX(-50%);
            width: 15rem;
            height: 3rem;
            box-shadow: 2px 5px 6px 0px rgb(155 152 152);
            z-index: 1;

            @media screen and (min-width: 750px) {
                bottom: 5%;
                z-index: 101;
            }
        }

        .card_regist_content {
            margin-top: 1rem;
            grid-column: 1 / 2;
            grid-row: 1 / 3;
            position: sticky;
            top: 19rem;
            background: #e1e1e1;
            padding-block: 1rem;
            z-index: 100;

            @media screen and (max-width: 750px) {
                top: 0rem;
            }


            .button_container {
                display: flex;
                justify-content: center;
                display: none;
                margin-block: 0.3rem;

                &.button_container_open {
                    display: flex;
                }

                .send_button {
                    background: #29b6ed;
                    color: white;
                    border-radius: 1rem;
                    width: 10rem;
                    height: 3rem;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    cursor: pointer;
                    box-shadow: 0px 0px 4px 0px #87e569;

                    &:hover {
                        background: #228fbb;
                    }
                }

                .crop_button {
                    margin-left: 1rem;
                    width: 7rem;
                    height: 3rem;
                    border-radius: 1rem;
                    // padding: 0.2rem 0.5rem;
                    cursor: pointer;
                    justify-content: center;
                    align-items: center;
                    color: gray;
                    background: #f9f9f9;
                    text-align: center;
                    display: flex;

                    &:hover {
                        background: #c1c1c1;
                    }

                    img {
                        width: 1rem;
                    }
                }

                .remove_button {
                    background: #e66464;
                    color: white;
                    border-radius: 1rem;
                    width: 7rem;
                    height: 3rem;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    cursor: pointer;
                    margin-left: 1rem;

                    &:hover {
                        background: #a84a4a;
                    }

                    img {
                        width: 1.2rem;
                        margin-right: 0.3rem;
                    }
                }
            }


            .cropped_image_container {
                height: calc(100% - 0.4rem);
                display: block;
                background: #f9f9f9;
                border-radius: 1rem;
                position: relative;
                overflow: hidden;

                .cropped_image_container_text {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    color: #868686;
                }
            }

            #card_file_front_label {
                .cropped_image_container {
                    border: solid 0.2rem #af0c57;
                }
            }

            #card_file_back_label {
                .cropped_image_container {
                    border: solid 0.2rem #1e975a;
                }
            }

            .croppable_image {
                width: 100%;
                display: block;
            }

            .card_file_input {
                display: none;
            }

            .card_file_label {
                width: 90%;
                aspect-ratio: 1.65/1;

                @media screen and (max-width: 750px) {
                    height: calc(90vw / 1.65);
                }

                display: block;
                overflow: hidden;
                margin-inline: auto;

                .cropped_image_container {
                    max-width: 99%;
                    max-height: 99%;
                }

                img {
                    width: 100%;
                    display: block;
                    object-fit: contain;
                    height: 100%;
                }

            }


        }

        .form_container {
            margin-top: 1rem;
            background: white;
            border-radius: 0.5rem;
            padding: 1rem;



            @media screen and (min-width: 750px) {

                &.personal_info {
                    grid-column: 2/3;
                    grid-row: 1/2;
                }

                &.company_info {
                    grid-column: 2/3;
                    grid-row: 2/3;
                }

                &.position_info {
                    grid-column: 2/3;
                    grid-row: 3/4;
                }
            }

            @media screen and (max-width:800px) {
                padding: 0.5rem;

                &.position_info {
                    margin-bottom: 12rem;
                }
            }

            .add_department_button {
                background: #73bb73;
                color: white;
                border-radius: 0.5rem;
                padding: 0.5rem 2rem;
                cursor: pointer;
                border: 0;

                &:hover {
                    background: #487748;
                }
            }

            table {
                width: 100%;

                tr {
                    height: 4rem;

                    td {
                        &:first-child {
                            font-size: 1rem;
                            color: #868686;
                            width: 10rem;
                        }

                        &:nth-child(2) {
                            width: 23rem;
                            max-width: 64%;
                        }

                        &:nth-child(3) {
                            width: 1rem;
                        }

                        input {
                            border: none;
                            border-radius: 0;
                            border-bottom: solid 1px #adadad;
                            background: transparent;
                            width: 100%;
                            padding: 5px;
                            padding: 5px;
                            font-size: 1rem;

                            &:focus {
                                outline: none;
                                border-bottom: solid 1px #1d59ff;
                            }
                        }

                        .company_search_button {
                            width: 1rem;
                            height: 1rem;
                            background: #d9d9d9;
                            padding: 0.3rem;
                            border-radius: 0.2rem;
                            cursor: pointer;
                            display: inline-flex;

                            &:hover {
                                background: #b6b6b6;
                            }
                        }

                        .branch_name_select {
                            width: 10rem;
                            height: 2.5rem;
                            border: #88b3e7 solid 1px;
                        }

                        .add_branch_button {
                            cursor: pointer;
                            background: #3d62b7;
                            color: #ffffff;
                            padding: 0.1rem 0.3rem;
                            border-radius: 0.2rem;
                            display: inline-flex;
                            align-items: center;
                            justify-content: center;
                            width: 6rem;
                            height: 2rem;
                            bottom: 0;
                            position: relative;
                            font-size: 1rem;

                        }

                        .delete_department_button {
                            cursor: pointer;
                            background: #ffa5a5;
                            color: #ffffff;
                            padding: 0.1rem 0.3rem;
                            border-radius: 0.2rem;
                            display: flex;
                            justify-content: center;

                            &:hover {
                                background: #ff8585;
                            }
                        }

                        &.company_td {
                            position: relative;
                            z-index: 0;

                            .company_choiced {
                                background: #c2e6fc;
                                border: solid 0.2rem #a7ceff;
                                border-radius: 0.2rem;
                                color: black !important;
                                font-weight: bold;
                                opacity: 1;
                                cursor: pointer;

                                &:hover {
                                    background: #a7ceff;
                                }

                            }

                            .new_company_tag {
                                background: #dafcc2;
                                border: solid 0.15rem #83ad80;
                                border-radius: 0.2rem;
                                color: #396b4b !important;
                                font-size: 0.8rem;
                                opacity: 1;
                                position: absolute;
                                top: -0.2rem;
                                left: 0.3rem;
                                width: 2rem;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                            }


                        }
                    }
                }
            }
        }
    }


}

.multiple_upload_container {
    width: 100rem;
    max-width: 97%;
    margin-inline: auto;

    .multiple_upload_form {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        .folder_upload {
            display: none;
        }

        .folder_upload_label {
            border: solid 0.4rem #abdef5;
            border-radius: 0.5rem;
            background: #f0f8ff;
            padding: 0.5rem;
            cursor: pointer;
            width: 50rem;
            height: 10rem;
            margin-inline: auto;
            display: flex;
            align-items: center;
            justify-content: center;

            &:hover {}

            .folder_upload_label_text {
                font-size: 1.5rem;
                color: #92b8cf;
            }


        }

        .upload_button {
            background: #636363;
            color: white;
            border-radius: 0.5rem;
            padding: 0.5rem 2rem;
            border: 0;
            width: 10rem;
            height: 3rem;
            margin-inline: auto;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 1.2rem;

            &.enabled {
                cursor: pointer;
                background: #2980ed;

                &:hover {
                    background: #2470ce;
                }
            }



        }




    }


    .progress_container_wrapper {
        display: none;

        &.progress_container_wrapper_open {
            position: fixed;
            top: 109px;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 1000;
            display: block;
            background: #00000052;

            .progress_container {
                width: 50rem;
                max-width: 97%;
                height: 20rem;
                margin-inline: auto;
                background: #ffffff;
                border-radius: 0.5rem;
                position: relative;
                top: 40%;
                transform: translateY(-50%);
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                .progress_bar_wrapper {
                    width: 30rem;
                    height: 2rem;
                    background: transparent;
                    border: solid 0.1rem #7bbef7;
                    box-shadow: 0 0 10px 0 #7bbef7;
                    border-radius: 1rem;
                    display: flex;
                    align-items: center;
                    justify-content: start;
                    margin-top: 1rem;

                    .progress_bar {
                        height: 1.8rem;
                        background: #3aaff3;
                        border-radius: 1rem;
                        width: 0%;
                        margin-left: 0.5%;

                    }


                }

                .progress_annotation {
                    font-size: 1.2rem;
                    color: #3aaff3;
                    margin-inline: auto;
                }

                .progress_message {
                    font-size: 1.2rem;
                    color: #3aaff3;
                    margin-inline: auto;
                    margin-top: 1rem;
                }




            }
        }
    }
}