.loginText {
  padding: 8px;
  font-size: 16px;
  border: solid 0.5px #a7a7a7;
  border-radius: 5px;
  outline: none;
}


.container {
  max-width: 600px;
}

.card {
  border-radius: 5px;
  box-shadow: 0px 0px 5px #ccc;
  margin-top: 20px;
}

.card-header {
  background-color: #76a861;
  color: #fff;
  padding: 10px 20px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.card-body {
  padding: 20px;
}

.form-group {
  margin-bottom: 20px;
}

label {
  font-weight: bold;
}

.btn-primary {
  padding: 8px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  outline: none;

  color: #FFFFFF;
  background-color: #76a861;
  border-color: #76a861;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
}

.btn-primary:hover {

  background-color: #3b8a1c;
  border-color: #3b8a1c;

}

.alert {
  color: red;
}

.start_choice_container {
  margin: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  background-color: #fbfbfb;
  border-radius: 10px;
  padding: 50px;
  width: fit-content;
  margin-inline: auto;
  min-width: 500px;
  height: 300px;

  .start_choice_element {
    background-color: #f3f3f3;
    border-radius: 10px;
    box-shadow: 1px 4px 5px #ccc;
    height: 133px;
    width: 247px;
    font-size: 18px;
    color: black;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover {
      background-color: #91d7ff;
      color: white;
    }
    .smart_circuit_logo{
    width: 120px;
    }
    .tameru_logo{
      width: 120px;
    }
  }
}