body{
    margin: 0;
}
.header001{
    height: 64px;
    background: rgb(155, 204, 96);
    margin: none;
    display: flex;
    position: relative;
}

.headerIcon001{
    margin-block: auto;
    position: relative;
    display: flex;
}
@media (max-width:480px){
    .menu001{
        height: 48px;
        background: rgb(75, 75, 75);
        display: flex;
        position: relative;
    }
    .menue001 {
        margin-right: 15px;
    }
}
@media (min-width:480px){
    .menu001{
        height: 48px;
        background: rgb(75, 75, 75);
        display: flex;
        position: relative;
    }
    .menue001 {
        margin-right: 100px;
    }
}


.menu001fixed{
    width: 100%;
    position: fixed;
    top: 0;
    left:0;
    z-index: 11;
}

.rightmenue001{
    margin-left: auto;
}
.hamburger01{
    position: relative;
}

.hamburger01close{
    opacity: 0;
    display: none;
}

