body{
    margin: 0;
}
.header001{
    height: 64px;
    background: rgb(155, 204, 96);
    margin: none;
    display: flex;
}

.headerIcon001{
    margin-block: auto;
    position: relative;
    display: flex;
}
.menu001{
    height: 48px;
    background: rgb(75, 75, 75);
    display: flex;
}

.menu001fixed{
    width: 100%;
    position: fixed;
    top: 0;
    left:0;
    z-index: 11;
}

.menue001{
    margin-right: 100px;
}
.rightmenue001{
    margin-left: auto;
}
.hamburger01{
    position: relative;
}

.hamburger01close{
    opacity: 0;
    display: none;
}

