@charset "UTF-8";
.header001 {
  background: rgb(216, 142, 142) !important;
}

a {
  color: black;
}

@media (max-width: 800px) {
  .headerIcon001:not(.rightmenue001, .menue001) {
    display: none;
  }
}
.admin_header_container {
  display: flex;
  margin-bottom: 1rem;
}
.admin_header_container .admin_header_container_button {
  background: #2ac02a;
  padding: 0.5rem 2rem;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
}
.admin_header_container .admin_header_container_button:hover {
  background: #1c881c;
}

@media (max-width: 480px) {
  .admin_top_table_div div {
    background: rgb(245, 227, 217);
    text-align: center;
    border-right: solid 1px white;
    padding: 5px;
    font-size: 1rem;
  }
  .admin_top_table_body {
    display: flex;
    font-size: 1rem;
  }
  .name {
    width: 6rem;
  }
  .email {
    width: 13rem;
  }
  .status {
    width: 4rem;
    text-align: center;
  }
  .sakujyo {
    width: 6rem;
  }
}
@media (min-width: 480px) {
  .admin_top_table_div div {
    background: rgb(245, 227, 217);
    text-align: center;
    border-right: solid 1px white;
    padding: 5px;
  }
  .admin_top_table_body {
    display: flex;
  }
  .name {
    width: 6rem;
  }
  .email {
    width: 13rem;
  }
  .status {
    width: 6rem;
    text-align: center;
  }
  .sakujyo {
    width: 6rem;
  }
}
.admin_top_table_div {
  display: flex;
}

.admin_top_table_body > div {
  padding: 5px;
  border-right: solid 1px white;
  border-bottom: solid 1px rgb(127, 127, 207);
  line-height: 30px;
}

.title::before {
  transform: rotate(0deg);
}

.title::after {
  transform: rotate(90deg);
}

/*　closeというクラスがついたら形状変化　*/
.title.close::before {
  transform: rotate(45deg);
}

.title.close::after {
  transform: rotate(135deg);
}

.adminreset,
.adminDelete {
  margin-inline: 10px;
  margin-block: auto;
}

.admineditbutton {
  border: 0;
  background: rgb(0, 108, 203);
  color: white;
  padding: 5px;
  border-radius: 3px;
  cursor: pointer;
  height: 3rem;
  width: 14rem;
  margin: 30px 90px;
}
.admineditbutton:hover {
  background: rgb(0, 67, 126);
}

.resetmessage {
  text-align: center;
}

.resetpassword {
  text-align: center;
  font-size: 50px;
  margin-inline: auto;
  background: #ddefff;
  width: 300px;
  padding: 10px;
}

#admin-myForm .input-container {
  margin-top: 1rem;
}
@media screen and (max-width: 800px) {
  #admin-myForm {
    font-size: 0.8rem;
    margin-inline: auto;
    width: 30rem;
    max-width: 75%;
  }
  #admin-myForm .input-container {
    flex-direction: column;
    margin-top: 1rem;
  }
}

.important {
  width: 16rem;
  padding: 0;
  position: relative;
  cursor: pointer;
  font-size: 1rem;
  transition: all 0.5s ease;
  border: solid 0.1px #bababa;
  margin-block: 20px;
  position: relative;
  /*アイコンの＋と×*/
}
@media screen and (max-width: 800px) {
  .important {
    margin-inline: auto;
  }
}
.important .important_title {
  margin: 0.7rem 3rem;
}
.important .importantelement.open {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.important .title {
  margin: 0.8rem 3rem;
}
.important .title::before,
.important .title::after {
  position: absolute;
  content: "";
  width: 1rem;
  height: 2px;
  background-color: #333;
  top: 1.35rem;
  left: 8%;
  transition: all 0.3s ease;
}
.important .importantelement {
  overflow: hidden;
  opacity: 0;
  height: 0;
  transition: height 0.5s ease;
  display: flex;
}
.important .open {
  opacity: 1;
  height: 80px;
}
.important .adminresetbutton {
  border: 0;
  color: white;
  background: rgb(86, 157, 58);
  padding: 5px;
  border-radius: 3px;
  cursor: pointer;
  height: 2.5rem;
  width: 12rem;
}
.important .adminresetbutton:hover {
  background: rgb(62, 155, 34);
}
.important .admindeletebutton {
  border: 0;
  background: rgb(217, 84, 84);
  color: white;
  padding: 5px;
  border-radius: 3px;
  cursor: pointer;
  height: 2.5rem;
  width: 12rem;
}
.important .admindeletebutton:hover {
  background: rgb(175, 41, 41);
}

.grouptable .grouptable_header div {
  background: rgb(245, 227, 217);
  text-align: center;
  border-right: solid 1px white;
  padding: 5px;
  font-size: 0.8rem;
}
.grouptable .documenttable_body div {
  padding: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-right: solid 1px white;
  border-bottom: solid 1px rgb(127, 127, 207);
  height: 30px;
  line-height: 30px;
}
.grouptable .admin_group {
  width: 15rem;
  text-align: left !important;
}
.grouptable .admin_group_change {
  width: 4rem;
}
.grouptable .admin_group_delete {
  width: 4rem;
}
.grouptable .admin_group_detail_change {
  width: 6rem;
  display: flex;
  justify-content: center;
}
.grouptable .grouptable_body {
  display: flex;
}
.grouptable .grouptable_body > div {
  padding: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-right: solid 1px white;
  border-bottom: solid 1px rgb(127, 127, 207);
  height: 30px;
  line-height: 30px;
}
.grouptable .grouptable_body > div .gr_delete_button {
  margin: auto;
  cursor: pointer;
  background: rgb(189, 54, 77);
  border: 0;
  color: white;
  border-radius: 5px;
  text-align: center;
  font-size: 15px;
  width: 44px;
  height: 27px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.grouptable .grouptable_body > div .gr_delete_button:hover {
  background: rgb(133, 39, 55);
}
.grouptable .grouptable_body > div .gr_change_button {
  margin: auto;
  cursor: pointer;
  background: rgb(86, 141, 49);
  color: white;
  border: 0;
  border-radius: 5px;
  text-align: center;
  font-size: 15px;
  width: 44px;
  height: 27px;
  font-size: 0.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.grouptable .grouptable_body > div .gr_change_button:hover {
  background: rgb(12, 124, 22);
  color: white;
}
.grouptable .documenttable_header {
  display: flex;
}
.grouptable .grouptable_header {
  display: flex;
}

.add {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.add .grouptable_body {
  display: flex;
}
.add .grouptable_body .gr_delete_button {
  margin-inline: 1rem auto;
  cursor: pointer;
  background: rgb(189, 54, 77);
  border: 0;
  color: white;
  border-radius: 5px;
  text-align: center;
  font-size: 15px;
  width: 44px;
  height: 27px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.add .grouptable_body .gr_delete_button:hover {
  background: rgb(133, 39, 55);
}