.header001{
    background: rgb(216, 142, 142) !important;
}

@media(max-width:480px){
    .admin_top_table_div div{
        background:rgb(245, 227, 217);
        text-align: center;
        border-right: solid 1px white;
        padding: 5px;
        font-size: 12px;
    }
    .admin_top_table_body{
        display: flex;
        font-size: 12px;
    }
    .name{
        width: 88px;
    }
    .email{
        width: 150px;
    }
    .status{
        width: 80px;
        text-align: center;
    }
    .sakujyo{
        width: 80px;
    }
    
}
@media(min-width:480px){
    .admin_top_table_div div{
        background:rgb(245, 227, 217);
        text-align: center;
        border-right: solid 1px white;
        padding: 5px;
    }
    .admin_top_table_body{
        display: flex;
    }
    .name{
        width: 200px;
    }
    .email{
        width: 200px;
    }
    .status{
        width: 100px;
        text-align: center;
    }
    .sakujyo{
        width: 80px;
    }
}
.admin_top_table_div{
    display: flex;
}




.admin_top_table_body > div{
    padding: 5px;
    border-right: solid 1px white;
    border-bottom: solid 1px rgb(127, 127, 207);
    line-height: 30px;
}


.important{
    position: relative;
    cursor: pointer;
    font-size: 1rem;
    font-weight: normal;
    transition: all .5s ease;
    padding: 10px 50px;
    width: 300px;
    border: solid 1px #bababa;
}

/*アイコンの＋と×*/
.title::before,
.title::after{
    position: absolute;
    content:'';
    width: 15px;
    height: 2px;
    background-color: #333;
    top:20px;
    left: 15px;
    transition: all 0.3s ease;
    
}
.title::before{
    
    transform: rotate(0deg);
    
}
.title::after{    
    transform: rotate(90deg);

}
/*　closeというクラスがついたら形状変化　*/
.title.close::before{
    transform: rotate(45deg);
  }
  
  .title.close::after{
    transform: rotate(135deg);
  }
.importantelement{
    overflow: hidden;
    opacity: 0;
    height: 0;
    transition: height .5s ease;
    display: flex;
}
.open{
    opacity: 1;
    height: 80px;
}
.adminresetbutton{
    border: solid #29a638 2px;
    background: rgb(210 255 196);
    padding: 5px;
    border-radius: 3px;
    cursor: pointer;
    height: 32px;
    width: 150px;
}
.adminresetbutton:hover{
    background: rgb(62, 155, 34);
    color: white;
}
.admindeletebutton{
    border: solid #a62929 2px;
    background: rgb(255, 196, 196);
    padding: 5px;
    border-radius: 3px;
    cursor: pointer;
    height: 32px;
    width: 50px;
}

.admindeletebutton:hover{
    background: rgb(175, 41, 41);
    color: white;
}

.adminreset,.adminDelete{
    margin-inline: 10px;
    margin-block: auto;
}

.admineditbutton{
    border: solid #2978a6 2px;
    background: rgb(196, 243, 255);
    padding: 5px;
    border-radius: 3px;
    cursor: pointer;
    height: 32px;
    width: 100px;
    margin: 30px 90px;
}

.admineditbutton:hover{
    background: rgb(24, 115, 189);
    color: white;
}
.resetmessage{
    text-align: center;
}
.resetpassword{
    text-align: center;
    font-size: 50px;
    margin-inline: auto;
    background: #ddefff;
    width: 300px;
    padding: 10px;
}