canvas {
    width: 100%;
    height: 100%;
}
.header001{
    background: rgb(142, 214, 216) !important;
}
.grid{
    position: relative;
    display: grid;

}
.leftline{
    border-left: solid 2px black;
}

.e{
    background: green;
}

.l{position: relative;
}

.leftstartline{
    position: absolute;
    height: 50%;
    width: 3px;
    background: rgb(197, 125, 125);
    top: 0;
    left: 5px;
}
.rightstartline{
    position: absolute;
    height: 50%;
    width: 3px;
    background: black;
    top: 0;
    right: 5px;
}

.middleline{
    position: absolute;
    height: 3px;
    width: calc(100% - 10px);
    background: black;
    top: 50%;
    left: 5px;
}
.leftendline{
    position: absolute;
    height: 50%;
    width: 3px;
    background: black;
    top: 50%;
    left: 5px;
}
.rightendline{
    position: absolute;
    height: 50%;
    width: 3px;
    background: black;
    top: 50%;
    right: 5px;
}
