.header001 {
    background: rgb(142, 214, 216) !important;
    z-index: 13;
}

.menu001 {
    z-index: 13;
}

.MenueBar {
    width: 250px;
    height: 100vh;
    margin-right: 25px;
}

.maincontent01 {
    padding-left: 0;
    display: flex;
}

.flowbackground {
    background: rgb(229 249 255);
}

.Mainelement {
    margin: 30px;
}


/* メインメニュー */
.main_menu_container{

}
.main_general_container{

}
.main_general_content{

}
.main_general_button{
background: blue;
}
.main_admin_button{

}









.gray {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: gray;
    opacity: 0.5;
    top: 0;
    left: 0;
    z-index: 13;
}

.left_side_menu {
    width: 250px;
    height: 100vh;
    background: #dfdede;
    margin-right: 25px;
    position: fixed;
    top: 0;
    padding-top: 150px;
    padding-left: 20px;
    z-index: 12;
    font-size: 12px;
}

.left_side_menu_top {
    padding-top: 100px;
}

.left_side_section {
    margin-bottom: 30px;
}

.left_side_content_title {
    font-size: 14px;
    font-weight: bold;
}

.red {
    color: red;
}

.errortextbox {
    border: solid 2px red !important;
    background: rgb(247, 229, 232);
}

.erroraccordion {
    background: rgb(247, 229, 232);
    margin-right: 50px;
    border: solid 1px red;
}

.errorelement {
    border: solid 2px red;
    background: rgb(247, 229, 232);
}

.accordion_menu {
    margin-left: 20px;
}

.accordion_menu_title {
    position: relative;
    cursor: pointer;
}

.accordion_menu_title::before,
.accordion_menu_title::after {
    content: "";
    height: 2px;
    width: 8px;
    border-radius: 2px;
    background: #313131;
}

.accordion_menu_title::before {
    transform: rotate(32deg);
    position: absolute;
    left: -12px;
    top: 6px;
    transition: all 0.2s;
}

.accordion_menu_title::after {
    transform: rotate(-27deg);
    position: absolute;
    left: -12px;
    top: 9px;
    transition: all 0.2s;
}

.accordion_menu_title_open::before {
    transform: rotate(-45deg);
    left: -9px;
    top: 8px;
}

.accordion_menu_title_open::after {
    transform: rotate(45deg);
    left: -13px;
    top: 8px;
}

.accordion_content {
    height: 0;
    overflow: hidden;
    margin-left: 20px;
    transition: all 0.2s;
}

.accordion_group~.accordion_content_open {
    height: 100px;
    overflow-y: auto;
}

.accordion_price~.accordion_content_open {
    height: 74px;
}

.flow_plice_box {
    margin-bottom: 5px;
}


.flow_plice_text {
    height: 30px;
    border: solid 1px rgb(180, 180, 180);
    border-radius: 3px;
    width: 126px;
}


.flow_name_text {
    height: 30px;
    border: solid 1px rgb(180, 180, 180);
    border-radius: 3px;
}



/* 右側サイドメニュー */

.right_side_menu {
    width: 250px;
    height: 100vh;
    background: #dfdede;
    position: fixed;
    top: 0;
    right: -290px;
    padding-top: 150px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 12px;
    transition: all 0.2s;
    z-index: 12;
}

.right_side_menu_open {
    right: 0px;
}

.right_side_menu_top {
    padding-top: 100px;
}

.right_side_section {
    margin-bottom: 30px;
}

.right_side_content_title {
    font-size: 14px;
    font-weight: bold;
}

.person_container {
    background: #edeeeb;
    border-radius: 23px;
    height: 0;
    overflow: hidden;
}

.person_container_status_gray {
    overflow: visible !important;
}

.person_container_open {
    padding: 10px;
    height: auto;
}

.group_container {
    background: #edeeeb;
    border-radius: 23px;
    height: 0;
    overflow: hidden;
}

.group_container_open {
    padding: 10px;
    height: auto;
}

.group_select {
    width: 100px;
    height: 25px;
    border: solid 1px #b3b3b3;
    border-radius: 5px;
}

.plus_button {
    width: 30px;
    background: #a8a8a8;
    position: relative;
    margin-left: auto;
    margin-right: 55px;
    margin-bottom: 3px;
    text-align: center;
    border-radius: 3px;
    line-height: 21px;
    cursor: pointer;
    font-size: 18px;
}

.plus_button:hover {
    background: rgb(56, 56, 56);
    color: white;
}

.person_content {}



.person_box {
    display: flex;
    margin-bottom: 2px;
    position: relative;
}

.person_text {
    position: relative;
    z-index: 12;
}

.person_text_focus {
    z-index: 13 !important;
}

.person_elment {
    border: solid 1px #b1b1b1;
    height: 25px;
}

.flow_user_list {
    display: none;
    position: absolute;
    top: 24px;
    background: white;
    width: 175px;
    border: solid 1px #b9b9b9;
    z-index: 14;
}

.nothing {}

.userelement {
    padding-left: 5px;
}

.userelement:hover {
    background: rgb(53, 123, 255);
    color: white;
    cursor: pointer;
}

.batsu_button {
    width: 20px;
    text-align: center;
    background: pink;
    border: solid 1px red;
    margin-left: 4px;
    border-radius: 5px;
    font-weight: bold;
    color: #530202;
    cursor: pointer;
    line-height: 22px;
}

.batsu_button:hover {
    background: rgb(196, 69, 69);
    color: white;
}

.authorizer_number {
    width: 50px;
    height: 25px;
    border-radius: 4px;
    border: solid 1px rgb(201, 201, 201);
}

.autorizer_number_container {
    display: none;
}

.autorizer_number_container_open {
    display: block;
    text-align: right;
    margin-right: 95px;
}

.choice_container {
    margin-left: 20px;
    background: #ccddc2;
    border-radius: 8px;
    height: 0;
    overflow: hidden;
}

.choice_container_open {
    height: auto;
    padding: 5px;
}

.choice_content {}

.post_choice_container {
    margin-left: 20px;
    background: #d4ebff;
    border-radius: 8px;
    height: 0;
    overflow: hidden;
}

.post_choice_container_open {
    height: 100px;
    padding: 5px;
}

.group_authorizer_number_container {
    margin-top: 11px;
    margin-left: 23px;
}


/* メイン機能 */
.grid {
    position: relative;
    display: grid;
    font-size: 13px;
    background: white;
    border-radius: 20px;
}

.e {
    position: relative;
    /* background: transparent; */
    border: solid 2px gray;
    display: flex;
    justify-content: center;
    font-size: 13px;
    overflow-x: auto;
}

.flow_img_box {
    position: absolute;
    left: 3px;
    top: 3px;
}

.element_authorizer_number {
    text-align: center;
}

.flow_img {
    width: 40px;
}

.authorizer_container {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    width: 40%;
    margin-left: 30%;
}

.detail_container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 30%;
}

.detail_element {
    margin-top: auto;
}

.none_setting {
    margin: auto;
}

.applicant {
    margin: auto;
}


.person_element {
    width: 100px;
    height: 20px;
    border-bottom: solid 1px rgb(189, 189, 189);
}

.authorizer_container>div:first-child {
    margin-top: auto;
}

.authorizer_container>div:last-child {
    margin-bottom: auto;
}

.group_element {
    width: 100px;
    height: 20px;
    border-bottom: solid 1px rgb(189, 189, 189);
}

.group_element:first-child {
    margin-top: auto;
}

.group_element:last-child {
    margin-bottom: auto;
}

/* .person_element:not(last-child){
    margin-bottom: 2px;
} */

.byapplicant_container {
    margin-top: 3px;
    background: #aade7d;
    border-radius: 3px;
    padding: 2px;
    width: 100px;
    text-align: center;
    font-weight: bold;
}

.postchoice_container {
    margin-top: 3px;
    background: #de977d;
    border-radius: 3px;
    padding: 2px;
    width: 90px;
    text-align: center;
    font-weight: bold;
}

.focus {
    border: solid 5px rgb(0, 255, 85);
}

.grid_content {
    display: grid;
    grid-template-columns: 0.5fr 3fr;
    width: 200px;
}


.d {
    border: solid 5px rgb(202, 202, 202);
    color: rgb(202, 202, 202);
    font-size: 16px;
    text-align: center;
}

.l {
    position: relative;
}

.yellow {
    border: solid 5px #cbcb1e;
    box-shadow: 0px 0px 15px 0 #cbcb1e;
}

.blue {
    border: solid 5px blue;
}

.workflow_submit_button {
    cursor: pointer;
    background: rgb(206, 205, 205);
    padding: 3px;
    border: solid 1px gray;
    width: 100px;
    text-align: center;
}



/* フローマスタ一覧 */

.flow_master_table {
    width: 1000px;
}

.flow_master_th {
    display: flex;
}

.flow_master_th>div {
    width: 20%;
    background: rgb(158 233 255);
    padding: 5px 10px;
    border-right: solid 1px white;
    text-align: center;
}

.flow_master_start_price,
.flow_master_end_price {
    width: 12% !important;
}

.flow_master_edit,
.flow_master_delete {
    width: 10% !important;
}

.flow_master_edit_button {
    width: 50px;
    padding: 3px;
    background: rgb(198, 253, 198);
    border: solid 2px green;
    border-radius: 3px;
    text-align: center;
    margin-inline: auto;
    cursor: pointer;
}

.flow_master_edit_button:hover {
    background: rgb(41, 182, 41);
    color: white;
}

.flow_master_tr {
    display: flex;
}

/* .flow_master_tr:hover>div {
    background: rgb(139, 189, 255);
    cursor: pointer;
} */

.flow_master_tr>div {
    width: 20%;
    padding: 5px 10px;
    border-right: solid 1px white;
    border-bottom: solid 1px #aeaeb3;
    position: relative;
}

.flow_master_tr .flow_master_start_price,
.flow_master_tr .flow_master_end_price {
    text-align: right;
}

.flow_master_etc_group {
    font-size: 11px;
    margin-left: auto;
    text-align: right;
    display: block;
    margin-top: -8px;
}




/* フロー申請 */

.application_form_content {
    display: flex;
    position: relative;
    margin-bottom: 10px;
}

.application_form_label {
    margin-right: 20px;
    width: 150px;
    margin-bottom: 20px;
}

.application_form_text {
    height: 30px;
    width: 100%;
    border: solid 1px rgb(165, 163, 163);
    border-radius: 3px;
}

.flow_application_container {
    background: white;
    display: flex;
    grid-template-columns: repeat(2, 1fr);
    flex-direction: column;
    width: 800px;
    margin-inline: auto;
    padding: 50px;
    border-radius: 30px;
    box-shadow: 1px 3px 5px 0 gray;
}

.flow_preview_area {
    margin-left: 100px;
    margin-block: 0px;
    width: 800px;
}

.next_button {
    background: rgb(47, 113, 255);
    color: white;
    width: 120px;
    padding: 7px;
    border-radius: 3px;
    text-align: center;
    cursor: pointer;
    border: none;
}

.next_button:hover {
    background: rgb(0, 61, 192);
}

.flow_next_button {
    margin-top: 30px;
}

.flex_content {
    display: flex;
}

.text_long_content {
    width: 500px;
}

.text_short_content {
    width: 200px;
}

.text_area_content {
    width: 500px;
    height: 100px;
}

.flow_application_preview_container {
    position: fixed;
    z-index: 14;
    background: white;
    width: 60vw;
    height: 90vh;
    left: 50%;
    top: 4%;
    transform: translateX(-50%);
    border-radius: 30px;
    display: none;
}

.flow_application_gray {
    position: fixed;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0.5;
    z-index: 14;
    display: none;
}

.flow_application_droparea {
    height: 100px;
    border: solid 3px rgb(187, 187, 187);
    color: rgb(187, 187, 187);
    text-align: center;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dragover {
    border: solid 3px rgb(216, 214, 114);
}

.file_input {
    color: black;
}

.flow_application_preview_button {
    margin-left: 30px;
    margin-top: auto;
    height: 30px;
    line-height: 30px;
    background: #68ad89;
    border-radius: 3px;
    padding: 5px 10px;
    color: white;
    display: none;
    cursor: pointer;
}

.flow_application_preview_button:hover {
    background: #407057;
}

.flow_application_form {
    display: flex;
    flex-direction: column;
    align-items: center;
}



/* 経路選択画面 */

.back_button {
    background: rgb(133, 133, 133);
    color: white;
    width: 120px;
    padding: 7px;
    border-radius: 3px;
    text-align: center;
    cursor: pointer;
    border: none;
}

.back_button:hover {
    background: #444444;
}

.flow_choice_back_button {
    height: 26px;
    line-height: 26px;
    margin-top: auto;
    width: 101px;
    font-size: 14px;
    margin-left: 35px;
}

.flow_application_choice_form {}

.flow_choice_select_container {
    display: flex;
}

.flow_choice_container {
    background: white;
    display: flex;
    grid-template-columns: repeat(2, 1fr);
    padding: 30px 50px;
    border-radius: 30px;
    box-shadow: 1px 3px 5px 0 gray;
}

.flow_choice_annotation {
    background: rgb(226 246 255);
    color: #132f3b;
    font-size: 14px;
    height: 20px;
    padding-inline: 30px;
    margin-top: auto;
    margin-left: 30px;
}

.flow_choice_select {
    width: 200px;
    height: 30px;
    border: 1px #999999 solid;
    border-radius: 5px;
}

.flow_choice_next_button {
    margin-top: auto;
    height: 40px;
    margin-left: 35px;
}

.view_grid {
    position: relative;
    display: grid;
    font-size: 13px;
}

.approval_container {
    margin-block: auto;
}

.approval_number {
    position: absolute;
    bottom: 2px;
    right: 5px;
}

.approval_img {
    position: absolute;
    top: 2px;
    left: 2px;
}

.position_class {
    margin-top: 3px;
    background: #de977d;
    border-radius: 3px;
    padding: 2px;
    width: 90px;
    text-align: center;
    font-weight: bold;
}

.select_class {
    width: 90px;
    padding: 2px;
}

/* 確認画面 */
.flow_confirm_form {
    display: flex;
    justify-content: center;
}

.dicision_button {
    background: rgb(78 195 24);
    color: white;
    width: 120px;
    padding: 7px;
    border-radius: 3px;
    text-align: center;
    cursor: pointer;
    border: none;
}

.dicision_button:hover {
    background: rgb(51, 133, 13);
}

.flow_application_back_button {
    height: 23px;
    margin-top: auto;
}

.flow_application_button {
    margin-left: 30px;
    height: 50px;
    font-size: 18px;
    width: 187px;
}

.flow_meta_information_container {
    background: white;
    box-shadow: 2px 3px 9px 0 #adadad;
    padding: 50px;
    width: 500px;
    border-radius: 30px;
    margin-right: 32px;
}


.flow_confirm_container {
    display: flex;
    justify-content: center;
}
.flow_confirm_content{
    display: flex;
}
.flow_confirm_label{
    width: 200px;
    margin-bottom: 26px;
}
.flow_confirm_element{
    width: 475px;
}