.loginText {
  padding: 8px;
  font-size: 16px;
  border: solid 0.5px #a7a7a7;
  border-radius: 5px;
  outline: none;
}

.container {
  max-width: 600px;
  margin-inline: auto;
}

.card {
  border-radius: 5px;
  box-shadow: 0px 0px 5px #ccc;
  margin-top: 25%;
}

.card-header {
  background-color: #76a861;
  color: #fff;
  padding: 10px 20px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.card-header.readbridge_card_header {
  background-color: #104577;
}

.card-body {
  padding: 20px;
}
.card-body #loginForm {
  width: 100%;
  margin-inline: auto;
  max-width: 20rem;
}

.form-group {
  margin-bottom: 20px;
  gap: 0.4rem;
  display: flex;
  flex-direction: column;
}

label {
  font-weight: bold;
}

.btn-primary {
  padding: 8px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  outline: none;
  color: #FFFFFF;
  background-color: #76a861;
  border-color: #76a861;
  padding: 0.6rem 4rem;
  font-size: 16px;
  font-weight: bold;
  width: fit-content;
  margin-inline: auto;
  cursor: pointer;
}
.btn-primary:hover {
  background-color: #3b8a1c;
  border-color: #3b8a1c;
}
.btn-primary.readbridge_btn {
  background-color: #104577;
  border-color: #104577;
}
.btn-primary.readbridge_btn:hover {
  background-color: #0c3052;
  border-color: #0c3052;
}

.alert {
  color: red;
}

.produced_by {
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
  color: #666;
}
.produced_by a {
  color: #666;
}
.produced_by a:hover {
  color: #3e8db9;
}

.start_choice_container {
  margin: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  background-color: #fbfbfb;
  border-radius: 1rem;
  padding-block: 3rem;
  margin-inline: auto;
  min-width: 40rem;
  height: 20rem;
}
@media screen and (max-width: 800px) {
  .start_choice_container {
    flex-direction: column;
    max-width: 90%;
    min-width: 0;
  }
}
.start_choice_container .start_choice_element {
  background-color: #f3f3f3;
  border-radius: 10px;
  box-shadow: 1px 4px 5px #ccc;
  height: 10rem;
  width: 18rem;
  max-width: 100%;
  font-size: 18px;
  color: black;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.start_choice_container .start_choice_element:hover {
  box-shadow: 0px 0px 9px #3e8db9;
  color: white;
}
.start_choice_container .start_choice_element .rapid_logo {
  width: 8rem;
}
.start_choice_container .start_choice_element .tameru_logo {
  width: 8rem;
}
.start_choice_container .start_choice_element .readbridge_logo {
  width: 8rem;
}