@charset "UTF-8";
@font-face {
  font-family: "Noto";
  src: url("https://astdocs-public.s3.ap-northeast-1.amazonaws.com/font/Noto.ttf") format("truetype");
}
body {
  font-family: "Noto";
}

html {
  font-size: 62.5%;
}
@media (min-width: 1441px) {
  html {
    font-size: 0.8vw;
  }
}
@media (min-width: 1201px) and (max-width: 1440px) {
  html {
    font-size: 1vw;
  }
}
@media (min-width: 401px) and (max-width: 1200px) {
  html {
    font-size: 14px;
  }
}
@media (max-width: 400px) {
  html {
    font-size: 3.5vw;
  }
}

a {
  text-decoration: none;
}

.version {
  color: white;
  margin-left: auto;
  margin-top: auto;
  margin-right: 5px;
  color: white;
}

.news_black {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.301);
  top: 0;
  left: 0;
  z-index: 100;
}

.news_black_none {
  display: none;
}

.news {
  position: relative;
  width: 50%;
  height: 80%;
  background: white;
  overflow-x: auto;
  opacity: 1;
}

.news_delete_button {
  width: 40px;
  height: 40px;
  top: 10px;
  right: 10px;
  position: absolute;
  border: solid 2px black;
  border-radius: 30px;
  cursor: pointer;
}

.news_delete_button:hover {
  background: black;
}

.news_delete_button:hover::before,
.news_delete_button:hover::after {
  background: white;
}

.news_title {
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  margin-top: 30px;
}

.news_content {
  margin-top: 50px;
  margin-inline: 30px;
}

.news_astec {
  position: absolute;
  bottom: 35px;
  right: 59px;
}

.news_delete_button::before {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  width: 20px;
  height: 3px;
  background: black;
}

.news_delete_button::after {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
  width: 20px;
  height: 3px;
  background: black;
}

@media (max-width: 800px) {
  .info {
    height: 50px;
    margin-bottom: 10px;
    background: rgb(237, 237, 237);
    display: flex;
    width: 100vw;
  }
  .showcontainer {
    display: flex;
    font-size: 13px;
    margin-left: 15px;
  }
  .excelbutton {
    background: #bceda3;
    border: #1c881c solid 2px;
    padding: 0px 10px;
    height: 30px;
    margin-block: auto;
    margin-left: 10%;
    border-radius: 3px;
    line-height: 30px;
    color: black;
    cursor: pointer;
  }
  .pagecontainer {
    display: flex;
    margin-left: 11%;
  }
}
@media (min-width: 800px) {
  .info {
    height: 50px;
    margin-bottom: 10px;
    background: rgb(237, 237, 237);
    display: flex;
  }
  .showcontainer {
    display: flex;
    margin-left: 50px;
    font-size: 13px;
  }
  .excelbutton {
    background: #bceda3;
    border: #1c881c solid 2px;
    padding: 0px 10px;
    height: 30px;
    margin-block: auto;
    margin-left: 50px;
    border-radius: 3px;
    line-height: 30px;
    color: black;
    cursor: pointer;
  }
  .pagecontainer {
    display: flex;
    margin-left: 50px;
  }
}
.showelement {
  margin-block: auto;
}

.allshowelement {
  margin-block: auto;
  margin-left: 20px;
}

.excelbutton:hover {
  background: #234214;
  color: white;
}

.excelerror {
  line-height: 50px;
  margin-left: 10px;
  color: red;
  display: none;
}

.pagebutton {
  background: white;
  width: 25px;
  height: 25px;
  line-height: 25px;
  margin-block: auto;
  margin-inline: 2px;
  text-align: center;
  border-radius: 20px;
  border: solid 1px #dbdada;
  font-size: 12px;
  color: black;
  transition: all 0.2s;
}

.pagebutton:hover {
  background: rgb(0, 0, 0);
  color: white;
  border: solid 1px black;
}

.nowpagebutton {
  background: rgb(0, 0, 0);
  width: 25px;
  height: 25px;
  line-height: 25px;
  margin-block: auto;
  margin-inline: 2px;
  text-align: center;
  border-radius: 20px;
  border: solid 1px #dbdada;
  font-size: 12px;
  color: rgb(255, 255, 255);
  cursor: default;
}

.dotpagebutton {
  background: white;
  width: 25px;
  height: 25px;
  line-height: 25px;
  margin-block: auto;
  margin-inline: 2px;
  text-align: center;
  border-radius: 20px;
  border: solid 1px #dbdada;
  font-size: 10px;
  color: black;
  cursor: default;
}

/* .count{
  margin-inline: 30px 10px;
  line-height: 30px;
  display: none;
}
.deletecount{
  margin-inline: 30px 10px;
  line-height: 30px;
  display: none;
}
.notdeletecount{
  margin-inline: 30px 10px;
  line-height: 30px;
  display: none;
}
.allcount{
  line-height: 30px;
  margin-right: 30px;
}
.selected{
  display: block;
} */
.dataselect {
  height: 100%;
}

.top_table_div {
  display: flex;
}

@media (max-width: 800px) {
  .history_table_div {
    display: flex;
    font-size: 12px;
  }
  .filehennkou {
    width: 52px;
    text-align: center;
  }
  .koushinn {
    width: 138px;
  }
}
@media (min-width: 800px) {
  .history_table_div {
    display: flex;
  }
  .filehennkou {
    width: 100px;
    text-align: center;
  }
  .koushinn {
    width: 200px;
  }
}
.history_table_div div {
  background: rgb(181, 228, 240);
  text-align: center;
  border-right: solid 1px white;
  padding: 5px;
}

.pale {
  background: rgb(229, 248, 253) !important;
  justify-content: center;
}

.verypale {
  background: rgb(227, 227, 227) !important;
  justify-content: center;
}

.top_table_body {
  display: flex;
}

.delete_history_table_body {
  display: flex;
}

.delete_history_table_body > div {
  padding: 5px;
  border-right: solid 1px white;
  border-bottom: solid 1px rgb(127, 127, 207);
  line-height: 30px;
}

.delete_history_table_body div {
  background: rgb(238, 197, 197);
  border-right: solid 1px rgb(238, 197, 197);
}

.history_table_body {
  display: flex;
}

.history_table_body > div {
  padding: 5px;
  border-right: solid 1px white;
  border-bottom: solid 1px rgb(127, 127, 207);
  line-height: 30px;
  overflow: hidden;
}

.delete_table {
  display: flex;
}

.delete_table > div {
  padding: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-right: solid 1px white;
  border-bottom: solid 1px rgb(127, 127, 207);
  height: 30px;
  line-height: 30px;
}

.top_table_margin {
  margin-top: 48px;
}

.top_table_column_fixed {
  position: fixed;
  top: 48px;
  left: 35px;
  z-index: 1;
}

.history_table_column_fixed {
  position: fixed;
  top: 48px;
  left: 35px;
}

.invalid {
  border: rgb(252, 86, 86) solid 2px;
  background-color: rgb(250, 238, 245);
}

.errorelement {
  display: none;
}

.fileerrorelement {
  display: none;
}

.errorsentence {
  color: red;
  font-size: 13px;
  display: block !important;
  text-align: start;
  margin-left: 10px;
}

.download {
  padding: 2px;
  border-radius: 2px;
  cursor: pointer;
  margin: auto;
}

.download:hover {
  background: rgb(201, 201, 201);
}

.button1logo01 {
  margin-right: 1rem;
}

.addbuttonelement01 {
  display: flex;
  width: 100px;
  padding: 10px;
  border-radius: 5px;
  border: none;
  background: none;
  font-size: 16px;
  cursor: pointer;
}

.addbuttonelement01:hover {
  background: gray;
  color: white;
}

@media (max-width: 800px) {
  .searchbox {
    padding-block: 20px;
    background: rgb(231, 231, 231);
    display: block;
    width: 100vw;
  }
  .searchelement {
    display: flex;
    padding-inline: 10px;
    margin-block: 7px;
    position: relative;
    margin-inline: 10px;
  }
  .requirelabel {
    width: 95px;
  }
  .searchbutton {
    background: rgb(182, 233, 182);
    padding: 5px;
    border: green solid 2px;
    border-radius: 5px;
    cursor: pointer;
    margin-inline: auto;
    color: black;
  }
  .buttonarea {
    display: flex;
    margin-top: 17px;
  }
}
@media (min-width: 800px) {
  .searchbox {
    padding: 20px;
    background: rgb(231, 231, 231);
    display: flex;
  }
  .searchelement {
    display: flex;
    padding-inline: 10px;
    margin-block: 5px;
    position: relative;
  }
  .requirelabel {
    width: 70px;
  }
  .searchbutton {
    background: rgb(182, 233, 182);
    padding: 5px;
    border: green solid 2px;
    border-radius: 5px;
    cursor: pointer;
  }
  .buttonarea {
    align-self: flex-end;
  }
}
.searchlabel {
  display: inline-block;
  width: 95px;
}

.searchselect {
  width: 110px;
}

.userselect {
  align-self: flex-end;
  margin-bottom: 6px;
  margin-right: 30px;
}

.userselectbox {
  height: 30px;
}

.searchbutton:hover {
  background: rgb(69, 173, 69);
  color: white;
}

.searchinputtext {
  height: 30px;
  background: white;
  border: solid 1px #a8a8a8;
  border-radius: 4px;
  color: black;
  min-width: 88px;
}

.dateinputtext {
  width: 100px;
}

.dateinput {
  width: 50px;
}

.kinngakuTd {
  text-align: right;
}

.kinngakuinput {
  text-align: right;
  width: 100px;
}

.detail_table td {
  border: solid 1px black;
  border-collapse: collapse;
  padding: 5px;
}

.detail_table {
  border-collapse: collapse;
}

.menubar {
  display: flex;
  margin-block: 10px;
}

.detail_download {
  padding: 10px;
}

.history_table body td {
  border-right: solid 1px transparent;
}

.history_table body {
  border-bottom: solid 1px rgb(176, 176, 235);
}

.history_table td {
  border-bottom: solid 1px rgb(176, 176, 235);
  border-collapse: collapse;
  padding: 5px;
}

.history_table_column td {
  border-right: solid 1px white;
}

.history_table {
  border-collapse: collapse;
}

.history_table thead tr {
  background: rgb(223, 251, 252);
  margin-left: -0.5px;
  text-align: center;
  border-right: solid 1px white;
}

.droparea {
  height: 100px;
  width: 300px;
  border: solid 3px rgb(187, 187, 187);
  color: rgb(187, 187, 187);
  text-align: center;
  line-height: 100px;
  margin-bottom: 10px;
}

.dragover {
  border: solid 3px rgb(216, 214, 114);
}

.droppreview {
  display: flex;
}

.form .input-container {
  display: flex;
  margin-top: 1rem;
  font-size: 1rem;
}
.form .input-container .label {
  width: 15rem;
}

.previewbox {
  display: flex;
}

.defaultpreview {
  width: 340px;
  line-height: 348px;
  text-align: center;
  border: solid 1px rgb(185, 185, 185);
  color: #9a9a9a;
}

.rightarrow {
  margin-block: auto;
  margin-inline: 10px;
}

.pastpreview {
  width: 475px;
  margin-block: auto;
}

.previewarea {
  width: 475px;
  line-height: 348px;
  text-align: center;
  margin-block: auto;
  border: solid 1px rgb(185, 185, 185);
  color: #9a9a9a;
}

.registpreviewarea {
  width: 800px;
}

.editpreviewarea {
  width: 700px;
}

.previewopen {
  display: flex;
}

.previewImage {
  object-fit: contain;
  object-position: center;
  max-width: 100%;
  max-height: 100%;
  margin-block: auto;
}

.input-field {
  height: 30px;
  background: white;
  border: solid 1px #a8a8a8;
  border-radius: 4px;
  color: black;
}

.kinngakuinput-field {
  text-align: right;
  width: 100px;
}

.form {
  padding: 30px;
}

.red {
  color: red;
  font-size: 12px;
}

#usersetting {
  width: fit-content;
  max-width: 95%;
  background: white;
  padding: 1rem 2rem;
  border-radius: 30px;
  margin-left: 3rem;
  width: 30rem;
  max-width: 75%;
}
#usersetting .input-container {
  flex-direction: column;
  margin-top: 1rem;
}
#usersetting .input-container .dateform .input-field {
  width: 100%;
}
@media screen and (min-width: 801px) {
  #usersetting .important {
    width: 16rem;
    padding: 0;
    position: relative;
    cursor: pointer;
    font-size: 1rem;
    transition: all 0.5s ease;
    border: solid 0.1px #bababa;
    margin-block: 20px;
  }
  #usersetting .important .important_title {
    margin: 0.7rem 3rem;
  }
  #usersetting .important .importantelement.open {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width: 800px) {
  #usersetting {
    font-size: 0.8rem;
    margin-inline: auto;
  }
  #usersetting .important {
    width: 20rem;
    padding: 0;
    position: relative;
    cursor: pointer;
    font-size: 1rem;
    transition: all 0.5s ease;
    border: solid 0.1px #bababa;
    margin-block: 20px;
  }
  #usersetting .important .important_title {
    margin: 0.7rem 3rem;
  }
  #usersetting .important .importantelement.open {
    display: flex;
    flex-direction: column;
  }
}
#usersetting .important_title::before,
#usersetting .important_title::after {
  position: absolute;
  content: "";
  width: 1rem;
  height: 2px;
  background-color: #333;
  top: 1.35rem;
  left: 5%;
  transition: all 0.3s ease;
}
#usersetting .usersettingbutton {
  border: 0;
  background: rgb(0, 108, 203);
  color: white;
  padding: 5px;
  border-radius: 3px;
  cursor: pointer;
  height: 3rem;
  width: 14rem;
  font-size: 1rem;
}
#usersetting .usersettingbutton:hover {
  background: rgb(3, 71, 131);
}

.pagetitle {
  margin-top: 20px;
}

.h2_margin {
  margin-top: 70px;
}

.hidukeTd {
  text-align: center;
}

.torihikisakiinput {
  position: relative;
}

.registtorihikisakiselect {
  width: 300px;
  max-height: 159px;
  overflow-x: hidden;
  background: white;
  position: absolute;
  top: 30px;
  border: solid 1px gray;
  display: none;
}

.torihikisakiselect {
  width: 300px;
  max-height: 159px;
  overflow-x: hidden;
  background: white;
  position: absolute;
  top: 30px;
  left: 78px;
  border: solid 1px gray;
  display: none;
  z-index: 10;
}

.gaitounashi {
  padding-left: 15px;
}

.torihikisakielement {
  padding-left: 15px;
  overflow: hidden;
  white-space: nowrap;
}

.torihikisakielement:hover {
  background: rgb(74, 145, 251);
  color: white;
  cursor: pointer;
}

.teisei,
.rireki {
  width: 75px;
}

.hennkou {
  display: flex;
  width: 40px;
}

.updater,
.creater {
  width: 100px;
}

.koushinnsya {
  width: 120px;
}

.downloadTd {
  width: 40px;
  display: flex;
}

.preview {
  width: 40px;
  display: flex;
}

.maru {
  text-align: center;
  cursor: pointer;
  border-radius: 3px;
}

.maru:hover {
  background: gray;
  color: white;
}

.detail {
  text-align: center;
  cursor: pointer;
  border-radius: 3px;
}

.detail:hover {
  background: gray;
  color: white;
}

.searcherror {
  border: rgb(252, 86, 86) solid 2px;
  background: rgb(240, 221, 221);
}

.requirered {
  color: red;
}

.registbutton {
  padding: 5px;
  background: rgb(220, 247, 145);
  border: solid 2px rgb(123, 197, 101);
  border-radius: 5px;
  margin-top: 10px;
  cursor: pointer;
  width: 100px;
  font-size: 15px;
  color: black;
}

.registbutton:hover {
  background: rgb(120, 155, 26);
  color: white;
}

.deletebutton {
  cursor: pointer;
  margin-top: 20px;
  background: pink;
  border: solid 2px red;
  padding-block: 5px;
  width: 96px;
  border-radius: 5px;
  text-align: center;
  font-size: 15px;
}

.deletebutton:hover {
  background: rgb(243, 82, 109);
  color: white;
}

.delete_table div {
  background: rgb(238, 197, 197);
  border-right: solid 1px rgb(238, 197, 197);
}

.nonopen div {
  background: rgb(152, 200, 245);
  border-right: solid 1px rgb(152, 200, 245);
}

@media (max-width: 870px) {
  .previewcontainer {
    width: 90vw;
    height: 80vh;
    z-index: 100;
    position: fixed;
    top: 100px;
    background: white;
    display: none;
  }
}
@media (min-width: 870px) {
  .previewcontainer {
    width: 800px;
    height: 90vh;
    z-index: 100;
    position: fixed;
    top: 50px;
    left: 50px;
    background: white;
    display: none;
  }
}
.wholecontainer {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  background: rgb(0, 0, 0);
  opacity: 0.5;
  display: none;
  z-index: 50;
}

.imgset {
  object-fit: contain;
}

.pagination {
  display: flex;
  margin-left: 50px;
}

.pagination svg {
  width: 15px;
}

.pagination span {
  font-size: 20px;
}

.pagination p {
  display: none;
}

.pagination .flex-1 {
  display: none;
}

/*アイコンの＋と×*/
.important_title::before,
.important_title::after {
  position: absolute;
  content: "";
  width: 15px;
  height: 2px;
  background-color: #333;
  top: 20px;
  left: 15px;
  transition: all 0.3s ease;
}

.important_title::before {
  transform: rotate(0deg);
}

.important_title::after {
  transform: rotate(90deg);
}

/*　closeというクラスがついたら形状変化　*/
.important_title.close::before {
  transform: rotate(45deg);
}

.important_title.close::after {
  transform: rotate(135deg);
}

.importantelement {
  overflow: hidden;
  opacity: 0;
  height: 0;
  transition: height 0.5s ease;
  background: rgb(226, 226, 226);
}

.open {
  opacity: 1;
  height: 215px;
  padding: 20px;
}

.settingcheckbox {
  display: block;
}

.nonopencolor {
  display: inline-block;
  background: rgb(152, 200, 245);
  width: 10px;
  height: 10px;
}

.deletecolor {
  display: inline-block;
  background: rgb(238, 197, 197);
  width: 10px;
  height: 10px;
}

.fontsize12 {
  font-size: 12px;
}

.nonopencontainer {
  margin-block: auto;
  margin-left: 50px;
}

.deletecontainer {
  margin-block: auto;
  margin-left: 50px;
}

.usersettingbutton {
  border: solid #2978a6 2px;
  background: rgb(196, 243, 255);
  padding: 5px;
  border-radius: 3px;
  cursor: pointer;
  height: 32px;
  width: 100px;
}

.usersettingbutton:hover {
  background: rgb(24, 115, 189);
  color: white;
}

.adminregistbutton {
  border: 0;
  background: rgb(0, 108, 203);
  padding: 5px;
  border-radius: 3px;
  cursor: pointer;
  height: 3rem;
  width: 13rem;
  margin-top: 20px;
  color: white;
}
.adminregistbutton:hover {
  background: rgb(3, 75, 138);
  color: white;
}

@media (max-width: 800px) {
  .top_table_div {
    display: flex;
    font-size: 13px;
  }
  .top_table_div div {
    background: rgb(181, 228, 240);
    text-align: center;
    border-right: solid 1px white;
    padding-block: 5px;
    padding-right: 2px;
  }
  .top_table_element {
    position: relative;
    font-size: 12px;
  }
  .top_table_body > div {
    padding-block: 5px;
    padding-right: 2px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border-right: solid 1px white;
    border-bottom: solid 1px rgb(127, 127, 207);
    height: 30px;
    line-height: 30px;
  }
  .hiduke {
    width: 75px;
  }
  .kinngaku {
    width: 52px;
  }
  .torihikisaki {
    width: 81px;
    width: 65px;
  }
  .syoruikubunn {
    width: 56px;
    text-align: center;
    display: none;
  }
  .teisyutu {
    width: 69px;
    text-align: center;
    display: none;
  }
  .hozonn {
    width: 100px;
    display: none;
  }
  .bikou {
    width: 75px;
  }
  .teisei,
  .rireki {
    width: 43px;
  }
  .extension {
    width: 28px;
    display: none;
  }
}
@media (min-width: 800px) {
  .top_table_element {
    position: relative;
  }
  .top_table_div div {
    background: rgb(181, 228, 240);
    text-align: center;
    border-right: solid 1px white;
    padding: 5px;
  }
  .top_table_body > div {
    padding: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border-right: solid 1px white;
    border-bottom: solid 1px rgb(127, 127, 207);
    height: 30px;
    line-height: 30px;
  }
  .hiduke,
  .kinngaku {
    width: 130px;
  }
  .torihikisaki {
    width: 200px;
  }
  .syoruikubunn {
    width: 75px;
    text-align: center;
  }
  .teisyutu {
    width: 100px;
    text-align: center;
  }
  .hozonn {
    width: 100px;
  }
  .bikou {
    width: 130px;
  }
  .teisei,
  .rireki {
    width: 75px;
  }
  .extension {
    width: 45px;
  }
}
.loader {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 200px;
  height: 200px;
  margin-top: -100px;
  margin-left: -100px;
  text-align: center;
  z-index: 11;
}

.searchcomment {
  background: white;
  font-size: 20px;
  font-weight: bold;
}

.documenttable_header {
  display: flex;
}
.documenttable_header div {
  background: rgb(245, 227, 217);
  text-align: center;
  border-right: solid 1px white;
  padding: 0.5rem 1rem;
}

.documenttable_body {
  display: flex;
}

.admin_use {
  width: 3rem;
  text-align: center;
}

.documenttable_body {
  display: flex;
}
.documenttable_body > div {
  padding: 0.2rem 1rem;
  text-align: center;
  border-bottom: solid 1px rgb(215, 215, 215);
}

.documenttable_body .admin_use {
  display: flex;
}

.admin_document {
  width: 8rem;
  text-align: center;
}

.admin_position {
  width: 8rem;
  text-align: center;
}

.admin_document_change {
  width: 8rem;
}

.admin_document_delete {
  width: 8rem;
}

.admin_document_value {
  width: 100px;
  height: 30px;
  border-radius: 4px;
  border: solid 1px gray;
  display: none;
}

.admin_group_value {
  width: 100px;
  height: 30px;
  border-radius: 4px;
  border: solid 1px gray;
  display: none;
}

.admin_document_text {
  display: none;
}

.admin_group_text {
  display: none;
}

.position_open {
  display: flex !important;
}

.document_open {
  display: block;
}

.group_open {
  display: block;
}

.docu_check {
  margin: auto;
}

.docu_change_button {
  margin: auto;
  cursor: pointer;
  background: rgb(105, 179, 56);
  color: white;
  border: none;
  border-radius: 5px;
  text-align: center;
  font-size: 1rem;
  width: fit-content;
  padding: 0.3rem 1rem;
}

.docu_change_button:hover {
  background: rgb(76, 129, 41);
}

.docu_delete_button {
  margin: auto;
  cursor: pointer;
  background: #b54a3e;
  color: white;
  border: none;
  border-radius: 5px;
  text-align: center;
  font-size: 1rem;
  width: fit-content;
  padding: 0.3rem 1rem;
}

.docu_delete_button:hover {
  background: #742f27;
}

.add_document {
  width: 100px;
  height: 30px;
  border-radius: 4px;
  border: solid 1px gray;
}

.add_group {
  width: 100px;
  height: 30px;
  border-radius: 4px;
  border: solid 1px gray;
}

.docu_addbutton {
  margin-block: 30px;
  background: #2ac02a;
  width: 73px;
  text-align: center;
  padding: 3px;
  border-radius: 3px;
  color: white;
  cursor: pointer;
}

.docu_addbutton:hover {
  background: #1c881c;
}

.gr_addbutton {
  margin-block: 30px;
  background: #2ac02a;
  width: 73px;
  text-align: center;
  padding: 3px;
  border-radius: 3px;
  color: white;
  cursor: pointer;
}

.gr_addbutton:hover {
  background: #1c881c;
}

.document_change_button {
  margin-block: 2rem;
  background: #278dd7;
  width: 10rem;
  text-align: center;
  padding: 0.5rem;
  border-radius: 9px;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 1.4rem;
}

.document_change_button:hover {
  background: #18517a;
}

.group_change_button {
  margin-block: 2rem;
  background: #278dd7;
  width: 10rem;
  text-align: center;
  padding: 0.5rem;
  border-radius: 9px;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 1.4rem;
}

.group_change_button:hover {
  background: #18517a;
}

/* グループ_役職設定 */
.positiontable {
  width: 500px;
}

.positiontable_header {
  display: flex;
}

.positiontable_header div {
  background: rgb(245, 227, 217);
  border-right: solid 1px white;
  text-align: center;
  height: 35px;
  align-items: center;
  display: flex;
  justify-content: center;
}

.position_name {
  display: flex;
  width: 50%;
  align-items: center;
}

.position_text {
  display: none;
}

.position_name_value {
  height: 30px;
  border: solid 1px gray;
  border-radius: 3px;
  margin-right: auto;
  display: none;
}

.edit_container {
  display: flex;
  width: 25%;
  align-items: center;
}

.delete_container {
  display: flex;
  width: 25%;
  align-items: center;
}

.positiontable_body.position_past {
  display: flex;
  flex-direction: column;
}

.positiontable_body > div {
  display: flex;
  justify-content: center;
  height: 37px;
  border-bottom: solid 1px rgb(127, 127, 207);
}

.position_edit_button {
  margin: auto;
  cursor: pointer;
  background: rgb(105, 179, 56);
  color: white;
  border: none;
  border-radius: 5px;
  text-align: center;
  font-size: 1rem;
  width: fit-content;
  padding: 0.3rem 1rem;
}

.position_edit_button:hover {
  background: rgb(76, 129, 41);
}

.admin_position_delete {
  width: 100px;
}

.position_delete_button {
  margin: auto;
  cursor: pointer;
  background: #b54a3e;
  color: white;
  border: none;
  border-radius: 5px;
  text-align: center;
  font-size: 1rem;
  width: fit-content;
  padding: 0.3rem 1rem;
}

.position_delete_button:hover {
  background: #742f27;
}

.add_position {
  width: 100px;
  height: 30px;
  border-radius: 4px;
  border: solid 1px gray;
}

.position_addbutton {
  margin-block: 30px;
  background: #2ac02a;
  width: 73px;
  text-align: center;
  padding: 3px;
  border-radius: 3px;
  color: white;
  cursor: pointer;
}

.position_addbutton:hover {
  background: #1c881c;
}

.positiontable_body.new {
  display: flex;
  margin-top: 12px;
  height: 35px;
  width: 215px;
}

.position_change_button {
  margin-block: 2rem;
  background: #278dd7;
  width: 10rem;
  text-align: center;
  padding: 0.5rem;
  border-radius: 9px;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 1.4rem;
}

.position_change_button:hover {
  background: #18517a;
}

.groupusertable {
  width: 500px;
}

.groupusertable_header {
  display: flex;
}

.groupusertable_header > div {
  background: rgb(245, 227, 217);
  border-right: solid 1px white;
  text-align: center;
  height: 35px;
  align-items: center;
  display: flex;
  justify-content: center;
}

.groupuser_name {
  width: 33%;
}

.groupuser_select {
  width: 90%;
  height: 26px;
  border: solid 1px #b8b6b6;
  border-radius: 3px;
}

.errorselect {
  border: solid 1px red !important;
  background: rgb(255, 234, 238);
}

.errorselect option {
  background: white;
}

.groupuser_position {
  width: 33%;
}

.groupuser_delete {
  width: 33%;
}

.groupuser_delete_button {
  margin: auto;
  cursor: pointer;
  background: #b54a3e;
  color: white;
  border: none;
  border-radius: 5px;
  text-align: center;
  font-size: 1rem;
  width: fit-content;
  padding: 0.3rem 1rem;
}

.groupuser_delete_button:hover {
  background: #742f27;
}

.groupuser_addbutton {
  margin-block: 30px;
  background: #2ac02a;
  width: 73px;
  text-align: center;
  padding: 3px;
  border-radius: 3px;
  color: white;
  cursor: pointer;
  display: inline-block;
}

.groupuser_change_button {
  margin-block: 2rem;
  margin-left: 2rem;
  background: #278dd7;
  width: 10rem;
  text-align: center;
  padding: 0.5rem;
  border-radius: 9px;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 1.4rem;
}

.groupuser_change_button:hover {
  background: #18517a;
}

.dummy_table {
  display: none !important;
}

.groupusertable_tr {
  display: flex;
  height: 42px;
  justify-content: center;
  align-items: center;
  border-bottom: solid 1px rgb(127, 127, 207);
}

.past:hover > div {
  background: rgb(192, 192, 192);
  cursor: pointer;
  border-right: solid 1px rgb(192, 192, 192);
}

.savemessage {
  display: none;
  color: red;
}

.ui-datepicker-trigger {
  background: #d0d0d0;
  border-radius: 2px;
  position: relative;
  left: 2px;
  cursor: pointer;
}

.ui-datepicker-trigger:hover {
  background: #a0a0a0;
}

.dateform {
  display: flex;
}