a {
  text-decoration: none;
}


.info {
  height: 50px;
  margin-bottom: 10px;
  background: rgb(237 237 237);
  display: flex;
}

.showcontainer {
  display: flex;
  margin-left: 50px;
  font-size: 13px;
}

.showelement {
  margin-block: auto;
}

.allshowelement {
  margin-block: auto;
  margin-left: 20px;
}

.pagecontainer {
  display: flex;
  margin-left: 50px;
}

.pagebutton {
  background: white;
  width: 25px;
  height: 25px;
  line-height: 25px;
  margin-block: auto;
  margin-inline: 2px;
  text-align: center;
  border-radius: 20px;
  border: solid 1px #dbdada;
  font-size: 12px;
  color: black;
  transition: all 0.2s;

}

.pagebutton:hover {
  background: rgb(0, 0, 0);
  color: white;
  border: solid 1px black;


}

.nowpagebutton {
  background: rgb(0, 0, 0);
  width: 25px;
  height: 25px;
  line-height: 25px;
  margin-block: auto;
  margin-inline: 2px;
  text-align: center;
  border-radius: 20px;
  border: solid 1px #dbdada;
  font-size: 12px;
  color: rgb(255, 255, 255);
  cursor: default;
}

.dotpagebutton {
  background: white;
  width: 25px;
  height: 25px;
  line-height: 25px;
  margin-block: auto;
  margin-inline: 2px;
  text-align: center;
  border-radius: 20px;
  border: solid 1px #dbdada;
  font-size: 10px;
  color: black;
  cursor: default;

}

/* .count{
  margin-inline: 30px 10px;
  line-height: 30px;
  display: none;
}
.deletecount{
  margin-inline: 30px 10px;
  line-height: 30px;
  display: none;
}
.notdeletecount{
  margin-inline: 30px 10px;
  line-height: 30px;
  display: none;
}
.allcount{
  line-height: 30px;
  margin-right: 30px;
}
.selected{
  display: block;
} */
.dataselect {
  height: 100%;
}

.top_table_div {
  display: flex;
}

.top_table_div div {
  background: rgb(181, 228, 240);
  text-align: center;
  border-right: solid 1px white;
  padding: 5px;
}

.history_table_div {
  display: flex;
}

.history_table_div div {
  background: rgb(181, 228, 240);
  text-align: center;
  border-right: solid 1px white;
  padding: 5px;
}

.pale {
  background: rgb(229, 248, 253) !important;
  justify-content: center;
}




.top_table_body {
  display: flex;

}

.top_table_body>div {
  padding: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-right: solid 1px white;
  border-bottom: solid 1px rgb(127, 127, 207);
  height: 30px;
  line-height: 30px;
}

.delete_history_table_body {
  display: flex;
}

.delete_history_table_body>div {
  padding: 5px;
  border-right: solid 1px white;
  border-bottom: solid 1px rgb(127, 127, 207);
  line-height: 30px;
}

.delete_history_table_body div {
  background: rgb(238, 197, 197);
  border-right: solid 1px rgb(238, 197, 197);
}

.history_table_body {
  display: flex;
}

.history_table_body>div {
  padding: 5px;
  border-right: solid 1px white;
  border-bottom: solid 1px rgb(127, 127, 207);
  line-height: 30px;
}

.delete_table {
  display: flex;
}

.delete_table>div {
  padding: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-right: solid 1px white;
  border-bottom: solid 1px rgb(127, 127, 207);
  height: 30px;
  line-height: 30px;
}



.top_table_margin {
  margin-top: 48px;
}

.top_table_column_fixed {
  position: fixed;
  top: 48px;
  left: 35px;
  z-index: 1;
}

.history_table_column_fixed {
  position: fixed;
  top: 48px;
  left: 35px;
}

.invalid {
  border: rgb(252, 86, 86) solid 2px;
  background-color: rgb(250 238 245);
}

.errorelement {
  display: none;
}

.fileerrorelement {
  display: none;
}

.errorsentence {
  color: red;
  font-size: 13px;
  display: block !important;
  text-align: start;
  margin-left: 10px;
}

.download {
  padding: 2px;
  border-radius: 2px;
  cursor: pointer;
  margin: auto;
}


.download:hover {
  background: rgb(201, 201, 201);
}



.button1logo01 {
  margin-right: 1rem;
}

.addbuttonelement01 {
  display: flex;
  width: 100px;
  padding: 10px;
  border-radius: 5px;
  border: none;
  background: none;
  font-size: 16px;
  cursor: pointer;
}

.addbuttonelement01:hover {
  background: gray;
  color: white;
}


.searchbox {
  padding: 20px;
  background: rgb(231 231 231);
  display: flex;
}

.searchelement {
  display: flex;
  padding-inline: 10px;
  margin-block: 5px;
}

.searchlabel {
  display: inline-block;
  width: 95px;
}

.requirelabel {
  width: 70px;
}

.searchselect {
  width: 110px;
}

.userselect {
  align-self: flex-end;
  margin-bottom: 6px;
  margin-right: 30px;
}

.userselectbox {
  height: 30px;

}

.searchbutton {
  background: rgb(182, 233, 182);
  padding: 5px;
  border: green solid 2px;
  border-radius: 5px;
  cursor: pointer;
}

.searchbutton:hover {
  background: rgb(69, 173, 69);
  color: white;
}

.searchinputtext {
  height: 30px;
}

.dateinputtext {
  width: 100px;
}

.dateinput {
  width: 50px;
}

.kinngakuTd {
  text-align: right;
}

.kinngakuinput {
  text-align: right;
  width: 100px;
}

.buttonarea {
  align-self: flex-end;
}

.detail_table td {
  border: solid 1px black;
  border-collapse: collapse;
  padding: 5px;
}

.detail_table {
  border-collapse: collapse;

}

.menubar {
  display: flex;
  margin-block: 10px;
}

.detail_download {
  padding: 10px;
}

.history_table body td {
  border-right: solid 1px transparent;
}

.history_table body {
  border-bottom: solid 1px rgb(176, 176, 235);
}

.history_table td {
  border-bottom: solid 1px rgb(176, 176, 235);
  border-collapse: collapse;
  padding: 5px;
}

.history_table_column td {
  border-right: solid 1px white;
}


.history_table {
  border-collapse: collapse;

}

.history_table thead tr {
  background: rgb(223, 251, 252);
  margin-left: -0.5px;
  text-align: center;
  border-right: solid 1px white;
}

.droparea {
  height: 100px;
  width: 300px;
  border: solid 3px rgb(187, 187, 187);
  color: rgb(187, 187, 187);
  text-align: center;
  line-height: 100px;
  margin-bottom: 10px;
}

.dragover {
  border: solid 3px rgb(216, 214, 114);
}

.droppreview {
  display: flex;
}

.previewbox {
  display: flex;
}

.defaultpreview {
  width: 340px;
  line-height: 348px;
  text-align: center;
  border: solid 1px rgb(185, 185, 185);
  color: #9a9a9a;
}

.rightarrow {
  margin-block: auto;
  margin-inline: 10px;
}

.pastpreview {
  width: 340px;
  margin-block: auto;
}

.previewarea {
  width: 340px;
  line-height: 348px;
  text-align: center;
  margin-block: auto;
  border: solid 1px rgb(185, 185, 185);
  color: #9a9a9a;

}

.previewopen {
  display: flex;
}

.previewImage {
  object-fit: contain;
  object-position: center;
  max-width: 100%;
  max-height: 100%;
  margin-block: auto;
}




.input-field {
  height: 30px;
}

.kinngakuinput-field {
  text-align: right;
}

.form {
  padding: 30px;
}



.input-container {
  display: flex;
  margin-top: 20px;
}

.label {
  width: 200px;
}

.red {
  color: red;
  font-size: 12px;
}



.pagetitle {
  margin-top: 20px;
}

.h2_margin {
  margin-top: 70px;
}

.hiduke,
.kinngaku {
  width: 130px;

}

.hidukeTd {
  text-align: center;
}

.torihikisaki {
  width: 200px;

}

.bikou {
  width: 130px;
}

.teisei,
.rireki {
  width: 75px;
}

.hennkou {
  display: flex;
  width: 40px;
}

.filehennkou {
  width: 100px;
}

.koushinn {
  width: 200px;
}

.koushinnsya {
  width: 120px;
}

.extension {
  width: 45px;
}

.syoruikubunn {
  width: 75px;
  text-align: center;
}

.teisyutu {
  width: 100px;
  text-align: center;
}

.hozonn {
  width: 100px;
}

.downloadTd {
  width: 40px;
  display: flex
}

.preview {
  width: 40px;
  display: flex
}

.maru {
  text-align: center;
  cursor: pointer;
  border-radius: 3px;
}

.maru:hover {
  background: gray;
  color: white;
}

.detail {
  text-align: center;
  cursor: pointer;
  border-radius: 3px;
}

.detail:hover {
  background: gray;
  color: white;
}

.searcherror {
  border: rgb(252, 86, 86) solid 2px;
  background: rgb(240, 221, 221);
}

.requirered {
  color: red;
}

.registbutton {
  padding: 5px;
  background: rgb(220, 247, 145);
  border: solid 2px rgb(123, 197, 101);
  border-radius: 5px;
  margin-top: 10px;
  cursor: pointer;
  width: 100px;
  font-size: 15px;
}

.registbutton:hover {
  background: rgb(120, 155, 26);
  color: white;
}

.deletebutton {
  cursor: pointer;
  margin-top: 20px;
  background: pink;
  border: solid 2px red;
  padding-block: 5px;
  width: 96px;
  border-radius: 5px;
  text-align: center;
  font-size: 15px;
}

.deletebutton:hover {
  background: rgb(243, 82, 109);
  color: white;
}

.delete_table div {
  background: rgb(238, 197, 197);
  border-right: solid 1px rgb(238, 197, 197);
}

.nonopen div {
  background: rgb(152, 200, 245);
  border-right: solid 1px rgb(152, 200, 245);
}

.previewcontainer {
  width: 500px;
  height: 600px;
  z-index: 100;
  position: fixed;
  top: 100px;
  left: 100px;
  background: white;
  display: none;

}

.wholecontainer {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  background: rgb(0, 0, 0);
  opacity: 0.5;
  display: none;
  z-index: 50;
}

.imgset {
  object-fit: contain;
}

.pagination {
  display: flex;
  margin-left: 50px;
}

.pagination svg {
  width: 15px;
}

.pagination span {
  font-size: 20px;
}

.pagination p {
  display: none;

}

.pagination .flex-1 {
  display: none;
}

.important {
  position: relative;
  cursor: pointer;
  font-size: 1rem;
  font-weight: normal;
  transition: all .5s ease;
  padding: 10px 50px;
  width: 360px;
  border: solid 1px #bababa;
  margin-block: 20px;
}

/*アイコンの＋と×*/
.important_title::before,
.important_title::after {
  position: absolute;
  content: '';
  width: 15px;
  height: 2px;
  background-color: #333;
  top: 20px;
  left: 15px;
  transition: all 0.3s ease;

}

.important_title::before {

  transform: rotate(0deg);

}

.important_title::after {
  transform: rotate(90deg);

}

/*　closeというクラスがついたら形状変化　*/
.important_title.close::before {
  transform: rotate(45deg);
}

.important_title.close::after {
  transform: rotate(135deg);
}

.importantelement {
  overflow: hidden;
  opacity: 0;
  height: 0;
  transition: height .5s ease;
  background: rgb(226, 226, 226);
}

.open {
  opacity: 1;
  height: 215px;
  padding: 20px;
}

.settingcheckbox {
  display: block;
}

.nonopencolor {
  display: inline-block;
  background: rgb(152, 200, 245);
  width: 10px;
  height: 10px;

}

.deletecolor {
  display: inline-block;
  background: rgb(238, 197, 197);
  width: 10px;
  height: 10px;
}

.fontsize12 {
  font-size: 12px;
}

.nonopencontainer {
  margin-block: auto;
  margin-left: 50px;
}

.deletecontainer {
  margin-block: auto;
  margin-left: 50px;
}



.usersettingbutton {
  border: solid #2978a6 2px;
  background: rgb(196, 243, 255);
  padding: 5px;
  border-radius: 3px;
  cursor: pointer;
  height: 32px;
  width: 100px;
}

.usersettingbutton:hover {
  background: rgb(24, 115, 189);
  color: white;
}

.adminregistbutton {
  border: solid #2978a6 2px;
  background: rgb(196, 243, 255);
  padding: 5px;
  border-radius: 3px;
  cursor: pointer;
  height: 32px;
  width: 100px;
  margin-top: 20px;
}

.adminregistbutton:hover {
  background: rgb(24, 115, 189);
  color: white;
}

.top_table_element {
  position: relative;
}

.loader {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 200px;
  height: 200px;
  margin-top: -100px;
  margin-left: -100px;
  text-align: center;
  z-index: 11;
}

.searchcomment {
  background: white;
  font-size: 20px;
  font-weight: bold;
}

.documenttable {}

.documenttable_header>div {
  background: rgb(245, 227, 217);
  text-align: center;
  border-right: solid 1px white;
  padding: 5px;
}

.documenttable_body>div {
  padding: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-right: solid 1px white;
  border-bottom: solid 1px rgb(127, 127, 207);
  height: 30px;
  line-height: 30px;


}

.documenttable_header {
  display: flex;
}

.documenttable_body {
  display: flex;
}

.admin_use {
  width: 50px;
  text-align: center;
}

.documenttable_body .admin_use {
  display: flex;
}

.admin_document {
  width: 110px;

  text-align: center;
}

.admin_document_delete {
  width: 100px;
}

.docu_check {
  margin: auto;

}

.docu_delete_button {
  margin: auto;
  cursor: pointer;
  background: pink;
  border: solid 2px red;
  border-radius: 5px;
  text-align: center;
  font-size: 15px;
  width: 44px;
  height: 27px;

}

.add_document {
  width: 100px;
  height: 30px;
  border-radius: 4px;
  border: solid 1px gray;
}

.docu_addbutton{
  margin-block: 30px;
  background: #2ac02a;
  width: 73px;
  text-align: center;
  padding: 3px;
  border-radius: 3px;
  color: white;
}